/*
SAE WEB : Jeux Olympiques Escalade
GROUPE 1 : BOSSUS Quentin LAURENCE Maxence BOUDABHA Ayyoub
CSS BASE
*/


body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    position: relative;
    margin: 0;
    padding: 0;

/*-----------------------CARROUSEL-----------------------*/

    background-position: top center;
    background-size: cover;                     
    animation: backgroundCycle 30s infinite;    /*répète en boucle une animation "backgroundCycle" de 30sec*/
    animation-duration: 15s;
    background-repeat: no-repeat;
    background-size: 100% 100vh;                /*rempli la longueur et prend la taille de l'écran*/
}


/*-----------------------MENU-----------------------*/
/*Note : "page_actuelle" c'est la page où on se situe, qui doit être en gras. 
NE PAS OUBLIER DE METTRE CETTE CLASSE EN HTML*/


.menu {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.nav, .langue, .page_actuelle {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 30px;
    text-align: center;
    margin-top: 25px;
    text-decoration: none;
    color: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.nav, .page_actuelle {
    width: 200px;
}

.page_actuelle {
    font-weight: bold;
}

.langue {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav:hover, .langue:hover, .langue img:hover, .page_actuelle:hover {
    transform: scale(1.2);                                /*aggrandis les boutons à 20%*/
    transition: transform 0.3s ease;                      /*Effectue une transition pour l'aggrandissement*/
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);          /*Ajoute de l'ombre aux boutons*/
}


/*-----------------------ARTICLE-----------------------*/
/*note : Le haut de l'article se positionne en bas de la taille d'écran*/

.article {
    position: static;
    margin-top: 100vh;             /*se positionne en dessous de la taille de l'écran*/
    margin-left: 50px; 
    margin-right: 50px;
}

.ouverture {
    font-weight: normal;
    font-size: 140%;
    width: 700px;
    text-decoration: underline;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
} 

.titre {
    font-weight: normal; 
    font-size: 120%;
    width: 300px;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 30px;
    text-align: center;
}

.titre_mentions {
    font-weight: normal; 
    font-size: 120%;
    width: 300px;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 30px;
    text-align: center;
    margin-top: 100px; 
}

#mentions_editeur {
    margin-top: 20px; 
}

#mentions_texte_responsabilite {
    margin-bottom: 100px; 
}

.article p {
    width: 40vw;
    margin: auto; 
    line-height: 50px ;
}


/*-----------------------FOOTER-----------------------*/


footer {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #000000;
}

.footertext {
    font-size: 16px;
    color: #ffffff;
    text-decoration: underline;
    padding-left: 50px;
}


/* -----------------------IMAGES----------------------- */


.logo {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 30px;
}

.langue img {
    width: 20px;
    height: 20px;
}


/*-----------------------ANIMATION CARROUSEL-----------------------*/


@keyframes backgroundCycle {
    0% {
        background-image: url('../../img/carrousel1.png');     /* À 0% du cycle, l'image de fond est définie sur "carrousel1.png"*/
    }
    25% {
        background-image: url('../../img/carrousel2.png');     /* À 25% du cycle, l'image de fond est définie sur "carrousel2.png"*/
    }
    50% {
        background-image: url('../../img/carrousel3.png');     /* À 50% du cycle, l'image de fond est définie sur "carrousel3.png"*/
    }
    75% {
        background-image: url('../../img/carrousel4.jpg');     /* À 75% du cycle, l'image de fond est définie sur "carrousel1.png"*/
    }

    100% {
        background-image: url('../../img/carrousel1.png');     /* À 100% du cycle, l'image de fond est définie sur "carrousel1.png"*/
    }
}

/* Rendre le contenu visible au dessus du Carrousel */
.header, .menu {
    position: relative;
    z-index: 2;
} 